nav ul {
	list-style: none;
	text-align: center;
	margin: 0;
}

nav ul li {
	display: inline-block;
	font-size: 30px;
	margin: 0 auto;
}

nav ul li a {
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	padding: 18px;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
}

nav ul li:hover {
	background: #fffdfa;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-size: 24px;
	color: rgb(190, 66, 228)
}

img {
	display: block;
	margin: auto;
}